td, th {
    border: 1px solid #100f0f;
    text-align: center;
    padding: 8px;
}
#logo {

position: fixed;
right: 0px;
bottom: 0px;
height: 75px;
width: 67px;
}
img {
    width:100%;
    height: auto;
}
